.question {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.80);
  border-radius: 30px;
  background-color: #fff;
  padding: 30px;
  min-height: 120px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  height: 24px;
  border: none;
  border-bottom: 1px solid;
  width: fit-content;
  margin: 0 0 30px;
}

.required:after {
  content: '*';
  color: #ff4848;
}