.card {
  border: 1px solid;
  opacity: 0.4;
  border-radius: 30px;
  background-color: #fff;
  min-height: 100px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 40px 30px;
  justify-content: space-between;
  transition: opacity 0.25s ease;
}

.text {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  margin: 0;
}

.card:hover {
  opacity: 0.2;
  transition: opacity 0.25s ease;
}

