.container {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.types {
  margin-bottom: 16px;
  width: 200px;
  background-color: white;
  border-bottom: 1px solid;
  cursor: pointer;
}

.container::after {
  content: url('/src/components/QuestionConstructor/icons/select-arrow.png');
  width: 0;
  position: relative;
  right: 15px;
}

.hidden {
  display: none;
}

.options {
  position: absolute;
  padding: 0;
  z-index: 10000;
  top: 20px;
  background-color: white;
  list-style: none;
  width: 100%;
  margin: 0;
}

.options li {
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid;
  cursor: pointer;
}

.type {
  border: none;
}